[submodule "docs/cmdline-tutorial"]
	path = docs/cmdline-tutorial
	url = https://github.com/compgen-io/cmdline-tutorial.git
	branch = gh-pages
[submodule "docs/cgpipe-docs"]
	path = docs/cgpipe-docs
	url = https://github.com/compgen-io/cgpipe-docs.git
	branch = gh-pages
