@media print {

body {
	font-size: 11px;
}
pre>code {
    font-size: 10px;
}
.bs-sidenav {
    font-size: 10px;
}

}
.navbar-logo {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    padding: 12px 15px;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    background-color: #525858;
    margin-right: 32px;
    margin-left: -12px;
}

.navbar-logo:hover {
    color: #fff;
    text-decoration: none;
    background-color: #586262;
}
